<div ng-controller="CarCtrl">
    <ui-view/>

    <div class="page page-general" ng-show="state.current.name==='car'">

        <div class="row">
            <div class="col-sm-4">
                <a ui-sref="car.model">
                    <md-card>
                        <md-card-content>

                            <h3>Модели</h3>

                        </md-card-content>
                    </md-card>
                </a>

            </div>

            <div class="col-sm-4">
                <a ui-sref="car.body">
                    <md-card>
                        <md-card-content>
                            <h3>Кузов</h3>
                        </md-card-content>
                    </md-card>
                </a>

            </div>

            <div class="col-sm-4">
                <a ng-click="goCarClass()" href="#">
                    <md-card>
                        <md-card-content>
                            <h3>Класс авто</h3>
                        </md-card-content>
                    </md-card>
                </a>

            </div>

            <div class="col-sm-4">
                <a ui-sref="car.color">
                    <md-card>
                        <md-card-content>
                            <h3>Цвета</h3>
                        </md-card-content>
                    </md-card>
                </a>

            </div>

            <div class="col-sm-4">
                <a ui-sref="car.status">
                    <md-card>
                        <md-card-content>
                            <h3>Статусы</h3>
                        </md-card-content>
                    </md-card>
                </a>

            </div>

            <div class="col-sm-4">
                <a ui-sref="car.fuel">
                    <md-card>
                        <md-card-content>
                            <h3>Топливо</h3>
                        </md-card-content>
                    </md-card>
                </a>

            </div>
            <div class="col-sm-4">
                <a ui-sref="car.wheeldrive">
                    <md-card>
                        <md-card-content>
                            <h3>Привод колес</h3>
                        </md-card-content>
                    </md-card>
                </a>

            </div>

            <div class="col-sm-4">
                <a ui-sref="car.maker">
                    <md-card>
                        <md-card-content>
                            <h3>Производители</h3>
                        </md-card-content>
                    </md-card>
                </a>

            </div>




        </div>

    </div>
</div>


