<div class="page" ng-controller="CarBodyCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Кузова
            </div>
        </md-toolbar>
        <div class="row">
            <div class="col-sm-12">
                <md-content class="frm-container">
                    <form name="frm" novalidate>

                            <div layout="row" layout-align="center none" layout-sm="column" ng-repeat="body in carBodies">
                                        <div flex="20" flex-sm="100">
                                            <md-input-container md-no-float md-is-error="frm['nameRu' + $index].$invalid && (frm['nameRu' + $index].$submitted || frm['nameRu' + $index].$dirty)">

                                                <label>Название (рус.)</label>

                                                <input name="nameRu{{$index}}" ng-model="body.title.ru" type="text" ng-required="true">

                                                <div ng-messages="frm['nameRu' + $index].$error"
                                                     ng-if="frm['nameRu' + $index].$error.required">
                                                    <div ng-message="required">Обязательное поле</div>
                                                </div>
                                            </md-input-container>
                                        </div>


                                        <div flex="20" flex-sm="100">
                                            <md-input-container  md-no-float md-is-error="frm['nameEn' + $index].$invalid && (frm.$submitted || frm['nameEn' + $index].$dirty)">

                                                <label>Название (анг.)</label>

                                                <input name="nameEn{{$index}}" ng-model="body.title.en" type="text" ng-required="true">

                                                <div ng-messages="frm['nameEn' + $index].$error"
                                                     ng-if="frm['nameEn' + $index].$error.required">
                                                    <div ng-message="required">Обязательное поле</div>
                                                </div>

                                            </md-input-container>
                                        </div>



                                <div flex="10" layout-align-sm="center center">
                                    <md-input-container>
                                        <button class="md-fab md-mini md-primary md-button md-ink-ripple green" type="button" aria-label="Сохранить" ng-click="save(body, frm)">
                                            <md-icon md-svg-src="/assets/img/icons/ic_save_48px.svg"></md-icon>
                                            <md-tooltip>Сохранить</md-tooltip>
                                        </button>
                                    </md-input-container>
                                </div>

                                <div flex="10" layout-align-sm="center center">
                                    <md-input-container>
                                        <md-button class="md-fab md-mini md-warn md-button md-ink-ripple" ng-click="destroy({arr:carBodies, item:body, url:'carbodystyle'}, $index)" ng-show="body.carModel.length === 0 || !body.carModel">
                                            <md-icon md-svg-src="/assets/img/icons/ic_delete_48px.svg"></md-icon>
                                            <md-tooltip>Удалить</md-tooltip>
                                        </md-button>
                                    </md-input-container>
                                </div>

                            </div>
                    </form>

                    <div layout="row" layout-align="center center">

                                <div flex="20">
                                    <md-input-container>
                                        <md-button class="md-fab md-mini md-primary md-button md-ink-ripple green" type="button" aria-label="Добавить производителя" ng-click="addBody()">
                                            <md-icon md-svg-src="/assets/img/icons/ic_add_circle_48px.svg"></md-icon>
                                            <md-tooltip>Добавить</md-tooltip>
                                            <!--
                                                                                        <div class="md-ripple-container"></div>
                                            -->
                                        </md-button>                                    </md-input-container>

                                </div>

                            </div>





                    <span class="error" ng-show="err">Ошибка</span>
                </md-content>
            </div>


        </div>

    </section>
</div>
