<div class="page" ng-controller="CarClsCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Класс авто
            </div>
        </md-toolbar>
        <div class="row">
            <div class="col-sm-12">
                <md-content class="frm-container">

                            <div layout="row" layout-sm="column" ng-repeat="cls in carClasses">
                                <div flex="20" flex-sm="100">
                                    <md-input-container>
                                        <label>Название (рус.)</label>
                                        <input ng-model="cls.title.ru" type="text" required>
                                    </md-input-container>
                                </div>


                                <div flex="20" flex-sm="100">
                                    <md-input-container>
                                        <label>Название (анг.)</label>
                                        <input ng-model="cls.title.en" type="text" required>
                                    </md-input-container>
                                </div>

                                <div flex="20" layout-align-sm="center center">
                                    <md-input-container>
                                        <md-button ng-click="save(cls)">Сохранить</md-button>
                                    </md-input-container>
                                </div>
                            </div>
                            <div layout="row" layout-align="center center">
                                <div flex="20">
                                    <md-input-container>
                                        <md-button ng-click="addCls()">Добавить</md-button>
                                    </md-input-container>

                                </div>

                            </div>





                    <span class="error" ng-show="err">Ошибка</span>
                </md-content>
            </div>


        </div>

    </section>
</div>
