<div class="page" ng-controller="ColorCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Цвета
            </div>
        </md-toolbar>
        <div class="row">
            <div class="col-sm-12">
                <md-content class="frm-container">


                            <div layout="row" layout-sm="column" ng-repeat="color in colors" ng-class="{lastListItem:$index===colors.length-1}">
                                <div flex="20">
                                    <md-input-container>
                                        <color-picker ng-model="color.hex" color-picker-format="'hex'" color-picker-alpha="false"></color-picker>
                                    </md-input-container>
                                </div>
                                <div flex="30">
                                    <md-input-container>
                                        <label>Название (рус.)</label>
                                        <input ng-model="color.title.ru" type="text" required>
                                    </md-input-container>
                                </div>
                                <div flex="30">
                                    <md-input-container>
                                        <label>Название (анг.)</label>
                                        <input ng-model="color.title.en" type="text" required>
                                    </md-input-container>
                                </div>
                                <div flex="20">
                                    <md-input-container>
                                        <md-button ng-click="save(color)">Сохранить</md-button>
                                    </md-input-container>
                                </div>
                            </div>

                    <div layout="row" layout-align="center center">
                        <div flex="20">
                            <md-input-container>
                                <md-button ng-click="addColor()">Добавить</md-button>
                            </md-input-container>
                        </div>
                    </div>






                    <span class="error" ng-show="err">Ошибка</span>
                </md-content>
            </div>


        </div>

    </section>
</div>
