<div class="page">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Производитель
            </div>
        </md-toolbar>
        <div class="row">
            <div class="col-sm-12">
                <md-content class="frm-container">

                    <div layout="row" layout-sm="column" ng-repeat="el in carMakers">

                        <div flex="20" flex-sm="100">
                         <img class="maker-logo" ng-src="{{el.logo}}" alt="{{el.title}}" />
                        </div>


                        <div flex="20" flex-sm="100">
                            <md-input-container>
                                <label>Название</label>
                                <input ng-model="el.title" type="text" required>
                            </md-input-container>
                        </div>


                        <div flex="20" flex-sm="100">

                            <input id="{{$index}}" class="inputfile" type="file" nv-file-select uploader="uploaders[$index]" removeAfterUpload="true"/>
                            <label for="{{$index}}" class="md-button">Выберите логотип</label>

                        </div>

                        <div flex="5" layout-align-sm="center center">
                            <md-input-container>
                                <button class="md-fab md-mini md-primary md-button md-ink-ripple green" type="button" aria-label="Сохранить" ng-click="save(el, $index)">
                                    <md-icon md-svg-src="/assets/img/icons/ic_save_48px.svg"></md-icon>
                                    <md-tooltip>Сохранить</md-tooltip>
                                </button>
                            </md-input-container>
                        </div>

                        <div flex="5" layout-align-sm="center center">
                            <md-input-container>
                                <md-button class="md-fab md-mini md-warn md-button md-ink-ripple" ng-click="destroy(el, $index)" ng-show="el.carModel.length === 0 || !el.carModel">
                                <md-icon md-svg-src="/assets/img/icons/ic_delete_48px.svg"></md-icon>
                                <md-tooltip>Удалить</md-tooltip>
                                </md-button>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-align="center center">
                        <div flex="20">
                            <md-input-container>
                                <md-button class="md-fab md-mini md-primary md-button md-ink-ripple green" type="button" aria-label="Добавить производителя" ng-click="addEl()">
                                    <md-icon md-svg-src="/assets/img/icons/ic_add_circle_48px.svg"></md-icon>
                                    <md-tooltip>Добавить</md-tooltip>
                                    <!--
                                                                                <div class="md-ripple-container"></div>
                                    -->
                                </md-button>
                            </md-input-container>

                        </div>

                    </div>





                    <span class="error" ng-show="err">Ошибка</span>
                </md-content>
            </div>


        </div>

    </section>
</div>
