<!--<div class="region-breadcrumbs">
  <ol class="breadcrumb">
      <li><md-icon md-svg-src="/assets/img/icons/ic_directions_car_24px.svg"></md-icon></li>
      <li class="active">Автомобили</li>
  </ol>
</div>-->

<div class="page">
    <section class="md-content-section" style="background-color: white">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Модели автомобиля
            </div>
        </md-toolbar>
        <div class="row">
                <div class="col-sm-8">
                    <md-content class="frm-container">

                        <br>
                        <form name="frm" novalidate  ng-submit="submit(frm)" >
                            <!-- Car maker -->

                            <div layout="row" layout-sm="column">
                                <div flex="100">
                                    <img ng-if="selectedMark.logo" style="width:30px" ng-src="{{selectedMark.logo}}" alt="{{selectedMark.title}}" />
                                    <h3 style="display: inline" ng-bind="selectedMark.title"></h3>
                                </div>



                            </div>

                            <!-- Carmodel-->

                            <div layout="row" layout-sm="column">
                                <div flex="40">
                                    <img style="width:168px;" ng-if="carModel.image" ng-src="{{carModel.image}}" alt="{{carModel.title}}" />
                                </div>
                                <div flex="40">
                                    <md-input-container md-no-float md-is-error="frm.model.$invalid && (frm.$submitted || frm.model.$dirty)">
                                        <label>Название</label>
                                        <input type="text" ng-model="carModel.title" ng-disabled="!selectedMark" name="model" ng-required="true">
                                        <div ng-messages="frm.model.$error"
                                             ng-if="frm.$submitted && frm.model.$error.required">
                                            <div ng-message="required">Обязательное поле</div>
                                        </div>

                                    </md-input-container>

                                </div>

                                <div flex="20">
                                    <input id="uploader" class="inputfile" type="file" nv-file-select uploader="modelUploader" removeAfterUpload="true" ng-disabled="!selectedMark"/>
                                    <label for="uploader" class="md-button">Изображение</label>
                                </div>


                            </div>



                            <div layout="row" layout-xs="column">

                                <div flex="40">
                                    <md-input-container md-is-error="frm.start.$invalid && (frm.$submitted || frm.start.$dirty)">
                                        <label>Год начала производства</label>
                                        <input ng-model="carModel.produceStart" type="number" ng-disabled="!selectedMark" name="start" ng-required="true">
                                        <div ng-messages="frm.start.$error"
                                             ng-if="frm.$submitted && frm.start.$error.required">
                                            <div ng-message="required">Обязательное поле</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <span>&nbsp;&nbsp;</span>

                                <div flex="40">
                                    <md-input-container md-is-error="frm.end.$invalid && (frm.$submitted || frm.end.$dirty)">
                                        <label>Год окончания производства</label>
                                        <input ng-model="carModel.produceEnd" type="number" ng-disabled="!selectedMark" name="end" ng-required="true">
                                        <div ng-messages="frm.end.$error"
                                             ng-if="frm.$submitted && frm.end.$error.required">
                                            <div ng-message="required">Обязательное поле</div>
                                        </div>
                                    </md-input-container>
                                </div>

                            </div>




                            <!-- Car body style -->
                            <div layout="row" layout-xs="column">
                                <div flex="40">
                                    <md-input-container md-is-error="frm.body.$invalid && (frm.$submitted || frm.body.$dirty)">
                                        <label>Кузов</label>
                                        <md-select ng-model="carModel.body" ng-disabled="!selectedMark" name="body" ng-required="true">
                                            <md-option ng-repeat="body in carBodies" value="{{body.id}}">{{body.title.ru}}</md-option>
                                        </md-select>
                                        <div ng-messages="frm.body.$error"
                                             ng-if="frm.$submitted && frm.body.$error.required">
                                            <div ng-message="required">Обязательное поле</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <span>&nbsp;&nbsp;</span>
                                <div flex="40">
                                    <md-input-container md-is-error="frm.cls.$invalid && (frm.$submitted || frm.cls.$dirty)">
                                        <label>Класс</label>
                                        <md-select ng-model="carModel.carClass" ng-disabled="!selectedMark" name="cls" ng-required="true">
                                            <md-option ng-repeat="cls in carClasses" value="{{cls.id}}" ng-selected="(cls.id == 1) ? true:false">{{cls.title.ru}}</md-option>
                                        </md-select>
                                        <div ng-messages="frm.cls.$error"
                                             ng-if="frm.$submitted && frm.cls.$error.required">
                                            <div ng-message="required">Обязательное поле</div>
                                        </div>
                                    </md-input-container>
                                </div>

                            </div>





                            <div layout="row">

                                <div flex="100">
                                    <md-input-container>
                                        <span>Информация производителя (по-русски)</span>
                                        <textarea froala="froalaOptions" ng-model="carModel.media['ru']"></textarea>
                                    </md-input-container>

                                </div>


                            </div>

                            <div layout="row">

                                <div flex="100">
                                    <md-input-container>
                                        <span>Информация производителя (english)</span>
                                        <textarea froala="froalaOptions" ng-model="carModel.media['en']"></textarea>
                                    </md-input-container>

                                </div>


                            </div>







                            <!-- <div style="text-align: center" class="row">
                                 <div class="col-sm-8">
                                     <div class="info" ng-if="success">Производитель добавлен</div>
                                     <div class="error" ng-if="userAlreadyExists">Производитель существует</div>
                                     <div class="error" ng-if="error500">{{error500msg}}</div>
                                 </div>


                             </div>-->
                            <div layout="row">
                                <div flex="100" style="text-align: center">
                                    <input type="submit" value="Сохранить" class="btn" ng-disabled="!selectedMark">
                                    <a href="#" class="btn" ng-show="carModel.id" ng-click="reset()">Сброс</a>
                                </div>
                            </div>





                        </form>



                    </md-content>

                </div>
                <div class="col-sm-4">

                    <md-content style="padding: 0 16px 16px;">
                        <v-accordion class="vAccordion--default" control="makersList">
                            <v-pane ng-repeat="carMaker in carMakers" id="ml{{$index}}">
                                <v-pane-header ng-click="selectMaker(carMaker)">
                                    <img ng-src="{{carMaker.logo}}" alt="{{carMaker.title}}" style="width:20px;height:20px;"/>
                                    <strong>{{carMaker.title}}</strong>
                                </v-pane-header>
                                <v-pane-content>
                                    <div style="width:100%;text-align:center" ng-if="carMaker.carModel.length === 0"><span>Пусто</span></div>
                                    <ul  ng-if="carMaker.carModel.length > 0">
                                        <li ng-repeat="carModel in carMaker.carModel" ng-click="selectModel(carMaker,carModel)" class="li-btn">
                                            {{carModel.title}} ({{carModel.produceStart}} - {{carModel.produceEnd}})
                                            <button ng-if="!carModel.unDeletable" class="md-button md-mini" style="margin:0;" type="button" aria-label="Удалить" ng-click="del(carModel, $index);$event.stopPropagation();">
                                                <md-icon md-svg-src="/assets/img/icons/ic_delete_24px.svg"></md-icon>
                                            </button>
                                        </li>
                                    </ul>

                                </v-pane-content>
                            </v-pane>
                        </v-accordion>

                    </md-content>




                </div>
            </div>





    </section>

</div>

