<div class="page" ng-controller="CarStatusCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Cтатусы авто
            </div>
        </md-toolbar>
                <md-content class="frm-container">


                            <div layout="row" layout-sm="column" ng-repeat="status in statuses">
                                <div flex="15" flex-sm="100">
                                    <md-input-container>
                                        <label>Название (рус.)</label>
                                        <input ng-model="status.title.ru" type="text" required>
                                    </md-input-container>
                                </div>
                                <div flex="30" flex-sm="100">
                                <md-input-container>
                                    <label>Описание (рус.)</label>
                                    <input ng-model="status.description.ru" type="text" required>
                                </md-input-container>
                            </div>

                                <div flex="15" flex-sm="100">
                                    <md-input-container>
                                        <label>Название (анг.)</label>
                                        <input ng-model="status.title.en" type="text" required>
                                    </md-input-container>
                                </div>
                                <div flex="30" flex-sm="100">
                                    <md-input-container>
                                        <label>Описание (анг.)</label>
                                        <input ng-model="status.description.en" type="text" required>
                                    </md-input-container>
                                </div>
                                <div flex="10" flex-sm="100">
                                    <md-input-container>
                                        <md-button ng-click="save(status)">Сохранить</md-button>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row" layout-align="end center"  layout-align-sm="center center">

                                <div flex="20">
                                    <md-input-container>
                                        <md-button ng-click="addStatus()">Добавить</md-button>
                                    </md-input-container>

                                </div>

                            </div>





                    <span class="error" ng-show="err">Ошибка</span>
                </md-content>


    </section>
</div>
