<div class="page-signin" ng-controller="AuthCtrl" style="position:absolute;left:0;right:10%;">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">
                    <img ng-src="/assets/images/logo_ru.png" alt="Selectdrive">
                </a>
            </section>
        </div>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="form-container">

                <form class="form-horizontal" ng-submit="submit(userFrm)" name="userFrm" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <md-input-container md-no-float md-is-error="userFrm.email.$invalid && (userFrm.$submitted || userFrm.email.$dirty)">
                                <label>Email</label>
                                <input ng-model="user.email" type="email" name="email" ng-required="true">
                                <div ng-messages="userFrm.email.$error" ng-if="userFrm.email.$error.required">
                                    <div ng-message="required">Обязательное поле</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="form-group">
                            <md-input-container class="md-primary" md-no-float md-is-error="userFrm.password.$invalid && (userFrm.$submitted || userFrm.password.$dirty)">
                                <label>Пароль</label>
                                <input ng-model="user.password" type="password" name="password" ng-required="true">
                                <div ng-messages="userFrm.password.$error" ng-if="userFrm.password.$error.required">
                                    <div ng-message="required">Обязательное поле</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group" style="text-align: center">
                            <!--
                          <md-button class="btn-width-large btn-block btn-lg md-primary md-raised">Вход</md-button>
-->
                            <input type="submit" class="btn no-margin" value="Вход">
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center has-error" ng-if="wrongCredentials">Неверный логин/пароль</p>

                    <!--<p class="text-center"><a href="#" ui-sref="forgot">Забыли пароль?</a></p>-->
                    <!--
                    <p class="text-center text-muted text-small">Don't have an account yet? <a href="signin.html#/pages/signup">Sign up</a></p>
-->
                </section>

            </div>
        </div>
    </div>

</div>