<form name="userFrm" ng-controller="PartnerCtrl" ng-submit="submit(userFrm)" novalidate class="no-offset col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <md-input-container class="md-block" md-no-float>
                <md-checkbox ng-model="partner.isLegalEntity" aria-label="Юридическое лицо" ng-disabled="partner.id">
                    Юридическое лицо
                </md-checkbox>
            </md-input-container>
        </div>
    </div>
<div class="row">
    <div class="col-sm-4">

        <md-input-container class="md-block" md-no-float md-is-error="userFrm.email.$invalid && (userFrm.$submitted || userFrm.email.$dirty)">
            <label>Email</label>
            <input name="email" class="material-input" ng-model="partner.email" ng-required="true" type="email">
            <div ng-messages="userFrm.email.$error" ng-if="userFrm.email.$error.email">
                <div ng-message="email">Неправильный Email</div>
            </div>
            <div ng-messages="userFrm.email.$error"
                 ng-if="userFrm.$submitted && userFrm.email.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float md-is-error="userFrm.firstName.$invalid && (userFrm.$submitted || userFrm.firstName.$dirty)">
            <label>Имя</label>
            <input name="firstName" class="material-input" ng-model="partner.firstName" ng-required="true" type="text" ng-pattern="/^[A-Я]+$/i">
            <div ng-messages="userFrm.firstName.$error" ng-if="userFrm.$submitted && userFrm.firstName.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
            <div ng-messages="userFrm.firstName.$error" ng-if="userFrm.$submitted && userFrm.firstName.$error.pattern">
                <div ng-message="pattern">Неправильный формат (только русские буквы)</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float>
            <label>Отчество</label>
            <input name="middleName" class="material-input" ng-model="partner.middleName" ng-required="false" type="text">
        </md-input-container>

        <md-input-container class="md-block" md-no-float md-is-error="userFrm.lastName.$invalid && (userFrm.$submitted || userFrm.lastName.$dirty)">
            <label>Фамилия</label>
            <input name="lastName" class="material-input" ng-model="partner.lastName" ng-required="true" type="text" ng-pattern="/^[A-Я]+$/i">
            <div ng-messages="userFrm.lastName.$error" ng-if="userFrm.$submitted && userFrm.lastName.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
            <div ng-messages="userFrm.lastName.$error" ng-if="userFrm.$submitted && userFrm.lastName.$error.pattern">
                <div ng-message="pattern">Неправильный формат (только русские буквы)</div>
            </div>
        </md-input-container>


        <!-- Phone -->
        <md-input-container class="md-block" md-no-float md-is-error="userFrm.phone.$invalid && (userFrm.$submitted || userFrm.phone.$dirty)">
            <label>Телефон</label>
            <input name="phone" class="material-input" id="phone" ng-model="partner.phone" ng-required="true" type="text" ng-pattern="/^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$/">
            <div ng-messages="userFrm.phone.$error"
                 ng-if="userFrm.$submitted && userFrm.phone.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
            <div ng-messages="userFrm.phone.$error"
                 ng-if="userFrm.$submitted && userFrm.phone.$error.pattern">
                <div ng-message="pattern">Неправильно</div>
            </div>
        </md-input-container>


        <md-input-container class="md-block" md-no-float  ng-if="partner.isLegalEntity" md-is-error="userFrm.inn.$invalid && (userFrm.$submitted || userFrm.inn.$dirty)">
            <label>ИНН</label>
            <input name="inn" class="material-input" maxlength="10" minlength="10" ng-model="partner.legalEntityInn" ng-pattern="/^[0-9]{10}$/" ng-required="true" type="text">
            <div ng-messages="userFrm.inn.$error"
                 ng-if="userFrm.$submitted && userFrm.inn.$error.pattern">
                <div ng-message="pattern">Неверный формат, должно быть 10 цифр</div>
            </div>
            <div ng-messages="userFrm.inn.$error"
                 ng-if="userFrm.$submitted && userFrm.inn.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float  ng-if="partner.isLegalEntity" md-is-error="userFrm.kpp.$invalid && (userFrm.$submitted || userFrm.kpp.$dirty)">
            <label>КПП</label>
            <input name="kpp" class="material-input" maxlength="9" minlength="9" ng-model="partner.legalEntityKpp" ng-required="true" ng-pattern="/^[0-9]{9}$/" type="text">

            <div ng-messages="userFrm.kpp.$error"
                 ng-if="userFrm.$submitted && userFrm.kpp.$error.pattern">
                <div ng-message="pattern">Неверный формат, должно быть 9 цифр</div>
            </div>

            <div ng-messages="userFrm.kpp.$error"
                 ng-if="userFrm.$submitted && userFrm.kpp.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float md-is-error="userFrm.address.$invalid && (userFrm.$submitted || userFrm.address.$dirty)">
            <label>Адрес</label>
            <input name="address" class="material-input"
                   ng-model="partner.address" ng-required="true"
                   type="text">
            <div ng-messages="userFrm.address.$error"
                 ng-if="userFrm.$submitted && userFrm.address.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

    </div>



    <div class="col-sm-4" ng-if="!partner.isLegalEntity">



        <!-- Birth date -->

        <md-input-container class="md-block" md-no-float md-is-error="userFrm.birthDate.$invalid && (userFrm.$submitted || userFrm.birthDate.$dirty)">
            <label>Дата рождения</label>
            <input name="birthDate" class="material-input date-input" style="margin-top:-2px;"
                   ng-model="partner.birthDate"
                   ng-required="true"
                   max="{{minAge}}"
                   type="date">


            <div ng-messages="userFrm.birthDate.$error"
                 ng-if="userFrm.birthDate.$error.max">
                <div ng-message="max">Минимум 18 лет</div>
            </div>
            <div ng-messages="userFrm.birthDate.$error"
                 ng-if="userFrm.$submitted && userFrm.birthDate.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>

        </md-input-container>


        <!-- Passport Number -->
        <md-input-container class="md-block" md-no-float md-no-float md-is-error="userFrm.passNum.$invalid && (userFrm.$submitted || userFrm.passNum.$dirty)">
            <label>Номер паспорта</label>
            <input name="passportNum" class="material-input" ng-model="partner.passportNumber" id="passportNum"
                   ng-required="true" maxlength="10" minlength="10"
                   type="text" ng-pattern="/^[0-9]*$/">
            <div ng-messages="userFrm.passportNum.$error"
                 ng-if="userFrm.$submitted && userFrm.passportNum.$error.pattern">
                <div ng-message="pattern">Неправильный паспортный номер</div>
            </div>
            <div ng-messages="userFrm.passportNum.$error"
                 ng-if="userFrm.$submitted && userFrm.passportNum.$error.minlength">
                <div ng-message="minlength">Неправильный паспортный номер</div>
            </div>
            <div ng-messages="userFrm.passportNum.$error"
                 ng-if="userFrm.$submitted && userFrm.passportNum.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>


        </md-input-container>

        <!-- Passport issued date -->
        <md-input-container class="md-block" md-no-float md-is-error="userFrm.passportDate.$invalid && (userFrm.$submitted || userFrm.passportDate.$dirty)">
            <label>Дата выдачи</label>

            <input name="passportDate" class="material-input date-input"
                   ng-model="partner.passportDate"
                   ng-required="true"
                   type="date"
                   max="{{today}}">


            <div ng-messages="userFrm.passportDate.$error"
                 ng-if="userFrm.$submitted && userFrm.passportDate.$error.max">
                <div ng-message="max">Неправильная дата</div>
            </div>
            <div ng-messages="userFrm.passportDate.$error"
                 ng-if="userFrm.$submitted && userFrm.passportDate.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

        <!-- Passport issuer-->
        <md-input-container class="md-block" md-no-float md-is-error="userFrm.passportIssuedBy.$invalid && (userFrm.$submitted || userFrm.passportIssuedBy.$dirty)">
            <label>Паспорт выдан</label>
            <input name="passportIssuedBy" class="material-input" id="passportIssuedBy" ng-model="partner.passportIssuedBy" ng-required="true" type="text">
            <div ng-messages="userFrm.passportIssuedBy.$error"
                 ng-if="userFrm.$submitted && userFrm.passportIssuedBy.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>


    </div>
    <div class="col-sm-4" ng-if="partner.isLegalEntity">
        <!-- Company name -->
        <md-input-container class="md-block" md-no-float md-is-error="userFrm.companyName.$invalid && (userFrm.$submitted || userFrm.companyName.$dirty)">
            <label>Название организации</label>
            <input name="companyName" class="material-input" id="companyName"
                   ng-model="partner.legalEntityName" ng-required="true"
                   type="text">
            <div ng-messages="userFrm.companyName.$error"
                 ng-if="userFrm.$submitted && userFrm.companyName.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float md-is-error="userFrm.address.$invalid && (userFrm.$submitted || userFrm.address.$dirty)">
            <label>Генеральный директор</label>
            <input name="head" class="material-input"
                   ng-model="partner.head" ng-required="true"
                   type="text">
            <div ng-messages="userFrm.head.$error"
                 ng-if="userFrm.$submitted && userFrm.head.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float md-is-error="userFrm.bank.$invalid && (userFrm.$submitted || userFrm.bank.$dirty)">
            <label>Банк</label>
            <input name="bank" class="material-input"
                   ng-model="partner.bank" ng-required="true"
                   type="text">
            <div ng-messages="userFrm.bank.$error"
                 ng-if="userFrm.$submitted && userFrm.bank.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float md-is-error="userFrm.bik.$invalid && (userFrm.$submitted || userFrm.bik.$dirty)">
            <label>БИК</label>
            <input name="bik" class="material-input"
                   ng-model="partner.bik" ng-required="true"
                   type="text">
            <div ng-messages="userFrm.bik.$error"
                 ng-if="userFrm.$submitted && userFrm.bik.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

        <md-input-container  class="md-block" md-no-float md-is-error="userFrm.k_account.$invalid && (userFrm.$submitted || userFrm.k_account.$dirty)">
            <label>Коррсчет</label>
            <input name="k_account" class="material-input"
                   ng-model="partner.k_account" ng-required="true"
                   type="text">
            <div ng-messages="userFrm.k_account.$error"
                 ng-if="userFrm.$submitted && userFrm.k_account.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" md-no-float md-is-error="userFrm.r_account.$invalid && (userFrm.$submitted || userFrm.r_account.$dirty)">
            <label>Расчетный счет</label>
            <input name="r_account" class="material-input"
                   ng-model="partner.r_account" ng-required="true"
                   type="text">
            <div ng-messages="userFrm.r_account.$error"
                 ng-if="userFrm.$submitted && userFrm.r_account.$error.required">
                <div ng-message="required">Обязательное поле</div>
            </div>
        </md-input-container>

    </div>

    <div class="col-sm-4">
        <span>Список партнеров, всего: {{partners.length}}</span>

        <md-content layout="column">
            <md-virtual-repeat-container class="virtual-list-container">
                <div md-virtual-repeat="partner in partners" ng-click="selectUser(partner)" class="li-btn virtual-list-item">
                    <span><strong>{{partner.id}}. {{partner.firstName}} {{partner.lastName}}</strong><span ng-if="partner.isLegalEntity"> ({{partner.legalEntityName}})</span></span>
                </div>
            </md-virtual-repeat-container>
        </md-content>
        <!--<md-list flex>
            <md-list-item ng-repeat="partner in partners" ng-click="selectUser(partner)" class="li-btn">
                <div class="md-list-item-text">
                    <span><strong>{{partner.id}}. {{partner.firstName}} {{partner.lastName}}</strong></span>
&lt;!&ndash;
                    <p>{{partner.confirmed === true ? "email подтвержден" : "email не подтвержден"}}</p>
&ndash;&gt;
                </div>
            </md-list-item>
        </md-list>-->

    </div>
</div>


    <div style="text-align: center" class="row">
        <div class="col-sm-12">
            <input type="submit" class="btn no-margin" value='{{partner.id ? "Обновить" : "Зарегистрировать"}}'>

            <a class="btn no-margin" ng-click="reset()" ng-if="partner">Сброс</a>
            <div class="info" ng-if="success">Партнер зарегистрирован. Выслано активационное письмо</div>
            <div class="error" ng-if="userAlreadyExists">Пользователь существует</div>
            <div class="error" ng-bind-html="error500"></div>
        </div>


    </div>

</form>
