<!--<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><md-icon md-svg-src="/assets/img/icons/ic_group_24px.svg"></md-icon></li>
        <li class="active">Партнеры</li>
    </ol>
</div>-->
<div class="page">
    <md-section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Партнеры
            </div>
        </md-toolbar>
        <md-content class="frm-container">
            <div class="col-sm-12" ng-include="'partner/addPartner.tpl.html'">
            </div>
        </md-content>
    </md-section>

</div>
