<div class="page" ng-controller="OptionCtrl">
    <section class="md-content-section">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Тарифные опции
            </div>
        </md-toolbar>
        <div class="row">
            <div class="col-sm-12">
                <md-content class="frm-container">

                    <div layout="row">
                        <div flex="100">
                            <md-button ng-click="add()">
                                <md-icon md-svg-src="/assets/img/icons/ic_add_box_24px.svg"></md-icon>
                                Добавить тарифную опцию
                            </md-button>
                        </div>
                    </div>


                        <div  ng-repeat="option in elements">
                            <form name="frm">

                            <div layout="row">
                                <div flex="20">
                                    <md-input-container>
                                        <label>Название (рус.)</label>
                                        <input type="text" name="title_ru_{{$index}}" ng-model="option.title['ru']">
                                        <div ng-messages="frm['title_ru_' + $index].$error"
                                             ng-if="frm['title_ru_' + $index].$error.required">
                                            <div ng-message="required">Обязательное поле</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div flex="25">
                                    <md-input-container>
                                        <label>Описание (рус.)</label>
                                        <input type="text" name="description_ru_{{$index}}" ng-model="option.description['ru']">
                                        <div ng-messages="frm['description_ru_' + $index].$error"
                                             ng-if="frm['description_ru_' + $index].$error.required">
                                            <div ng-message="required">Обязательное поле</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div flex="20">
                                    <md-input-container>
                                        <label>Название (англ.)</label>
                                        <input type="text" name="title_en_{{$index}}" ng-model="option.title['en']" ng-pattern="/^[a-zA-Z0-9 ]*$/">
                                        <div ng-messages="frm['title_en_' + $index].$error"
                                             ng-if="frm['title_en_' + $index].$error.required">
                                            <div ng-message="required">Используйте только латинские буквы, цифры, пробелы</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div flex="25">
                                    <md-input-container>
                                        <label>Описание(англ.)</label>
                                        <input type="text" name="description_en_{{$index}}" ng-model="option.description['en']" ng-pattern="/^[a-zA-Z0-9 ]*$/">
                                        <div ng-messages="frm['description_en_' + $index].$error"
                                             ng-if="frm['description_en_' + $index].$error.required">
                                            <div ng-message="required">Используйте только латинские буквы, цифры, пробелы</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div flex="5">
                                    <md-input-container>
                                        <button class="md-fab md-mini md-primary md-button md-ink-ripple green"
                                                type="button" aria-label="Сохранить" ng-click="save(option,frm, $index);">
                                            <md-icon md-svg-src="/assets/img/icons/ic_save_48px.svg"></md-icon>
                                            <md-tooltip>Сохранить</md-tooltip>
                                        </button>
                                    </md-input-container>
                                </div>
                                <div flex="5">
                                    <md-input-container>
                                        <md-button class="md-fab md-mini md-warn md-button md-ink-ripple"
                                                   ng-click="destroy(option,$index)">
                                            <md-icon md-svg-src="/assets/img/icons/ic_delete_48px.svg"></md-icon>
                                            <md-tooltip>Удалить</md-tooltip>
                                        </md-button>
                                    </md-input-container>
                                </div>



                            </div>

                            <div layout="row">

                                <div flex="90" ng-if="uploaders[$index]">
                                        <input id="up{{$index}}" class="inputfile" type="file" nv-file-select uploader="uploaders[$index]" removeAfterUpload="true"/>
                                        <label for="up{{$index}}" class="md-button">Выберите пикторамму</label>

                                </div>
                                <div flex="10">
<!--
                                    <md-icon md-svg-src="{{option.image}}"  style="width:48px;height:48px;opacity:0.4;"></md-icon>
-->
                                    <img ng-src="{{option.image}}" style="width:48px;height:48px;">
                                </div>
                            </div>





                    </form>
            </div>

            </md-content>


                </md-content>

            </div>
            </div>
        </section>
    </div>