<!DOCTYPE html>
<html ng-app="sdDashboard" ng-controller="AppCtrl">

<head>
  <title ng-bind="pageTitle"></title>
  <link rel="icon" href="/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">


  <base href="/" />


  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/angularjs-color-picker.min.css" />



  <!-- compiled CSS -->

  <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% });
    %>


      <!-- compiled JavaScript -->
      <% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script>
        <% }); %>


</head>

<body id="app" data-custom-background="" data-off-canvas-nav="">

  <div class="page-wrapper nav-style--alternative">
    <div data-ng-hide="checkIfOwnPage()" data-ng-cloak="" class="no-print">
      <aside data-ng-include="'navigation.tpl.html'" id="nav-container"></aside>
    </div>

    <div class="view-container">

      <div data-ng-hide="checkIfOwnPage()" data-ng-cloak="" class="no-print">
        <section data-ng-include="'header.tpl.html'" id="header" class="top-header"></section>
      </div>
      <section ui-view="main" class="animate-fade-up" id="content">
      </section>
    </div>

    <!--<md-sidenav class="md-sidenav-right md-whiteframe-z2 md-theme" md-component-id="rightmessages">
      <div data-ng-include="'right-navbar.tpl.html'">

      </div>
    </md-sidenav>
-->
  </div>

  <div class="page-loading-overlay">
    <div class="loader-2"></div>
  </div>

  <div class="load_circle_wrapper">

    <div class="loading_spinner">
      <div id="wrap_spinner">
        <md-progress-circular class="md-primary" md-mode="indeterminate" style="margin:0 auto;overflow:visible;"></md-progress-circular>
      </div>
    </div>
  </div>



</body>

</html>